In [ ]:
#Series
#一定有索引
#多個Series有相同的索引，就會組成DataFrame
#有索引，只有一個值
#類似List，索引可以放字串，又有點像是Dict

#list就是Iterable，可以重複讀取 用For迴圈抓的

#series由ndArray組成
#ndArray沒有索引、沒有欄位

In [ ]:
#DataFrame
#多個Series所組成的
#有columns，也有index

In [2]:
import pandas as pd

series1 = pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])
series1

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [6]:
#使用subscript取出值
series1['d']

#使用subscript[index]取出值
series1['d']

#使用subscript[slice]
series1['d':'a']

d    4.5
b    7.2
a   -5.3
dtype: float64

In [12]:
display(series1)

#重新排序，使用實體方法reindex()
series1.reindex(['a','b','c','d'])

#選取想要的索引
series1.reindex(['a','b'])

#取出ndArray
series1.values
#轉換為list
series1.to_list()  #實體方法

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

[4.5, 7.2, -5.3, 3.6]

In [19]:
import numpy as np
import pandas as pd

#numpy的工具，建立了numpy的實體
#np.arange(100).reshape(5,20)

frame1 = pd.DataFrame(np.arange(9).reshape(3,3),
             index = ['a','b','c'],
             columns = ['台北','台中','高雄']
             )
frame1

   台北  台中  高雄
a   0   1   2
b   3   4   5
c   6   7   8

In [ ]:
#利用subscript[]，取出資料
#利用dataFrame[]，取出的是整欄

In [21]:
frame1[['台北','台中']]

   台北  台中
a   0   1
b   3   4
c   6   7

In [25]:
display(frame1)
#iloc[] 由列開始抓，以索引為主
#loc：由列開始抓

frame1.iloc[0]
frame1.loc[['a','c']]

   台北  台中  高雄
a   0   1   2
b   3   4   5
c   6   7   8

   台北  台中  高雄
a   0   1   2
c   6   7   8