In [18]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    0.071263
   2   -0.640015
   3   -1.439015
b  1   -1.351209
   2   -0.406849
c  3    0.061116
   1   -0.564456
d  2    1.094993
   3   -1.043436
dtype: float64

In [19]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [20]:
#二維，堆疊資料(長資料)
data

a  1    0.071263
   2   -0.640015
   3   -1.439015
b  1   -1.351209
   2   -0.406849
c  3    0.061116
   1   -0.564456
d  2    1.094993
   3   -1.043436
dtype: float64

In [21]:
#二維，表格資料(寬資料)
data.unstack()

          1         2         3
a  0.071263 -0.640015 -1.439015
b -1.351209 -0.406849       NaN
c -0.564456       NaN  0.061116
d       NaN  1.094993 -1.043436

In [22]:
data.index.names = ['分類','數值']
data

分類  數值
a   1     0.071263
    2    -0.640015
    3    -1.439015
b   1    -1.351209
    2    -0.406849
c   3     0.061116
    1    -0.564456
d   2     1.094993
    3    -1.043436
dtype: float64

In [23]:
data.unstack(level='分類')

分類         a         b         c         d
數值
1   0.071263 -1.351209 -0.564456       NaN
2  -0.640015 -0.406849       NaN  1.094993
3  -1.439015       NaN  0.061116 -1.043436

In [24]:
data.unstack(level='數值')

數值         1         2         3
分類
a   0.071263 -0.640015 -1.439015
b  -1.351209 -0.406849       NaN
c  -0.564456       NaN  0.061116
d        NaN  1.094993 -1.043436